<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/js/main.js"></script>
    <title>Home Page</title>
</head>

<body>
    {{if .}}
        {{template "logged_navbar" .}}
    {{else}}
        {{template "guest_navbar" .}}
    {{end}}


    <div class="container">
        {{if .}}
            {{ template "logged_sidebar" . }}
        {{else}}
            {{template "guest_sidebar" .}}
        {{end}}

        <div class="main">
        </div>
        <div class="widget">
            <div class="section">
                <h2 class="section-title">
                    <i class="ri-star-line"></i>
                    Must-read posts
                </h2>
                <ul>
                    <li><a href="#">Please read rules before you start working on a platform</a></li>
                    <li><a href="#">Vision & Strategy of AIemhelp</a></li>
                </ul>
            </div>
            <div class="section">
                <h2 class="section-title">
                    <i class="ri-links-line"></i>
                    Featured links
                </h2>
                <ul>
                    <li><a href="#">AIemhelp source-code on GitHub</a></li>
                    <li><a href="#">Golang best-practices</a></li>
                    <li><a href="#">AIem School dashboard</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>