<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/register_login.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <title>Login</title>
</head>

<body>
    <nav class="navbar">
        <a id="logo" href="/">
            <img id="logo-img" src="/assets/img/logo.svg" alt="">
            <span id="logo-name"><b>01</b>Forum</span>
        </a>
        <a href="/register" id="register"><i class="fa-solid fa-user-plus"></i>register</a>
    </nav>

    <div class="login-register grid_3-7">
        <div class="form-container">
            <h2>We've missed you!</h2>
            <p>More than 120 questions are waiting for your wise suggestions!</p>
            <form id="loginForm">
                <input type="text" name="username" placeholder="Username or Email" required />
                <input type="password" name="password" placeholder="Password" required />

                <button id="submit" type="submit">login</button>
            </form>
            <p id="errorMessage" class="error"></p>
        </div>
        <img class="showcase-img" src="/assets/img/Image02.png" alt="">
    </div>

    <script>
        document
            .getElementById("loginForm")
            .addEventListener("submit", async function (e) {
                e.preventDefault();

                const username = document.querySelector(
                    "input[name='username']"
                ).value;
                const password = document.querySelector(
                    "input[name='password']"
                ).value;
                const errorMessage = document.getElementById("errorMessage");

                try {
                    const response = await fetch("/auth/login", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ username, password }),
                    });                   
                    if (response.ok) {
                        const result = await response.json();
                        window.location.href = "/"; // Redirect to dashboard or home page after successful login
                    } else {
                        const result = await response.json();
                        console.error("Login failed:", response.statusText);
                        errorMessage.textContent =
                            result.Msg || "Login failed. Please try again.";
                    }
                } catch (error) {
                    console.error("Error during login:", error);
                    errorMessage.textContent =
                        "An error occurred. Please try again later.";
                }
            });
    </script>
</body>

</html>