<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/register_login.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <title>Login</title>
</head>

<body>
    <nav class="navbar">
        <a id="logo" href="/">
            <img id="logo-img" src="/assets/img/logo.svg" alt="">
            <span id="logo-name"><b>01</b>Forum</span>
        </a>
        <a href="/register" id="register"><i class="fa-solid fa-user-plus"></i>register</a>
    </nav>

    <div class="login-register grid_3-7">
        <div class="form-container">
            <h2>We've missed you!</h2>
            <p>More than 120 questions are waiting for your wise suggestions!</p>
            <form action="" method="post">
                <input type="text" name="username" placeholder="Username" />
                <input type="password" name="password" placeholder="Password">

                <button id="submit" name="login">login</button>
            </form>
        </div>
        <img class="showcase-img" src="/assets/img/Image02.png" alt="">
    </div>

</body>

</html>