<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/register_login.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <title>Register</title>
</head>

<body>
    <nav class="navbar">
        <a id="logo" href="/">
            <img id="logo-img" src="/assets/img/logo.svg" alt="">
            <span id="logo-name"><b>01</b>Forum</span>
        </a>
        <div class="sign">
            <a href="/login" id="login"><i class="login-icon"></i>login</a>
        </div>
    </nav>
   
    <div class="login-register grid_3-7">
        <div class="form-container">
            <h2>Join 01Forum community</h2>
            <p>Get more features and priviliges by joining to the most helpful community</p>
            <form id="registerForm">
                <input type="text" name="username" placeholder="Username" required />
                <input type="email" name="email" placeholder="Email" required />
                <div>
                    <input type="password" name="password" placeholder="Password" required />
                    <i class="eye-icon" onclick="togglePassword()"></i>
                </div>

                <button id="submit" type="submit">register</button>
            </form>
            <p id="success"></p>
            <p id="errorMessage" class="error"></p>
        </div>
        <div class="register showcase-img"></div>
    </div>

    <script>
        document
            .getElementById("registerForm")
            .addEventListener("submit", async function (e) {
                e.preventDefault();

                const email = document.querySelector("input[name='email']").value;
                const username = document.querySelector(
                    "input[name='username']"
                ).value;
                const password = document.querySelector(
                    "input[name='password']"
                ).value;
                const errorMessage = document.getElementById("errorMessage");

                try {
                    const response = await fetch("/auth/register", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ email, username, password }),
                    });

                    if (response.ok) {
                        document.getElementById('errorMessage')?.remove();
                        document.getElementById('success').textContent = 'Registered Successfully'
                        setTimeout(() => location.href = "/", 700);
                    } else {
                        const result = await response.json();
                        console.error("Registration failed:", result.msg);
                        if (result.msg === 'credentials already exists') {
                            errorMessage.innerHTML = 'User exists with that Username of Email'
                        } else if (result.msg === 'Invalid email format') {
                            errorMessage.innerHTML = 'Invalid email format'
                        } else if (result.msg === 'Invalid password format') {
                            errorMessage.innerHTML = `Your password needs to:
                        <ul>
                            <li>include both lower and upper case characters.</li>
                            <li>include at least one number and symbol.</li>
                            <li>be at least 8 characters long.</li>
                        </ul>`
                        } else {
                            errorMessage.innerHTML = `${result.msg}`
                        }
                    }
                } catch (err) {
                    console.error("Error during registration:", err);
                 }
            });

    const togglePassword = () => {
        fieldPw = document.querySelector("input[name='password']");
        eye = document.querySelector('#registerForm i');
        if (fieldPw.type === 'password') {
            fieldPw.type = 'text';
            eye.classList = ['eye-off-icon'];
        } else {
            fieldPw.type = 'password';
            eye.classList = ['eye-icon'];
        }
    }
    </script>
</body>

</html>