/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Reset Default Styles */
*,
html {
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0;
}

html {
    font-size: 16px;
    letter-spacing: 1px;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
}

/********** Navbar **********/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3.5rem;
}

.navbar a {
    text-decoration: none !important;
}

#logo {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #000;
}

#logo-img {
    height: 30px;
}

#logo-name {
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-size: 1.3rem;
}

.sign {
    display: flex;
    gap: 0.75rem;
}

#login,
#register {
    font-size: .8rem;
    text-transform: capitalize;
    letter-spacing: .5px;
    font-weight: 800;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: none;
}

#login {
    color: #1682FD;
    background-color: #EAEAEA;
    i {
        background-color: #1682FD;
    }
}

#login:hover {
    color: #EAEAEA;
    background-color: #1682FD; 
    i {
        background-color: #fff;
    }
}

#register {
    color: #fff;
    background-color: #f48023;
}

#register:hover {
    background-color: rgba(244, 128, 35, 0.8);
    border-color: transparent;
}

.sign i {
    font-size: 1rem;
    margin-right: 8px;
}

.navbar {
    border-bottom: 1px solid #f0f0f0;
}

/********** Register **********/
.grid_3-7 {
    height: 92vh;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #FAFAFA;
}

.showcase-img {
    height: 95vh;
    width: 100%;
    background-size: cover;
}

.register {
    background-image: url('/assets/img/bg/bg_1.jpg')
}

.login {
    background-image: url('/assets/img/bg/bg_2.jpg')
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: capitalize;
}

p {
    font-size: 1.1rem;
    font-weight: 200;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 12rem 6.25rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

input {
    font-size: 0.95rem;
    display: block;
    width: 100%;
    padding: .9rem 3.6rem .9rem 1.5rem;
    border: 2px solid #EAEAEA;
    border-radius: 5px;
    outline: none;
    transition: border-color .6s ease;
}

input::placeholder {
    color: #808080;
    font-size: 0.75rem;
}

input:focus,
input:hover {
    border: 2px solid #F48023;
}

#submit {
    font-size: 0.85rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFF;
    background-color: #F48023;
    border: 2px solid #F48023;
    padding: 0.9rem 1.5rem;
    border-radius: 5px;
}

#register:hover,
#submit:hover,
#submit:active {
    background-color: rgba(244, 128, 35, 0.8);
    border-color: transparent;
}

.message {
    font-weight: 400;
    font-size: .95rem;
}

#success {
    color: #1a8754;
}

#errorMessage {
    color: #f00;
}

#errorMessage ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style: square;
    list-style-position: inside;
    margin-top: 1rem;
}

/********** Register **********/

@media (max-width: 1300px) {
    .showcase-img {
        display: none;
    }

    .grid_3-7 {
        grid-template-columns: 1fr;
    }
}

i { 
    width: 20px;
    height: 20px;
    background-color: #fff;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.form-container i {
    float: right;
    margin-right: 24px;
    margin-top: -35px;
    position: relative;
    background-color: #808080;
    cursor: pointer;
}

.login-icon {
    mask: url('/assets/img/icons/log-in.svg');
}

.register-icon {
    mask: url('/assets/img/icons/user-plus.svg');
}

.eye-icon {
    mask: url('/assets/img/icons/eye.svg');
}

.eye-off-icon {
    mask: url('/assets/img/icons/eye-off.svg');
}