<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <nav class="navbar">
        <span id="logo">01Forum</span>
        <a href="" id="login">login</a>
    </nav>

    <div class="login-register grid_3-7">
        <div class="form-container">
            <h2>Join 01Forum community</h2>
            <p>Get more features and priviliges by joining to the most helpful community</p>
            <form action="">
                <input type="text" name="username"/>
                <input type="email" name="email">
                <input type="password" name="password">
                <input type="password" name="confirm">
                
                <input type="submit" name="register">
            </form>
        </div>
        <div class="showcase-img">
            <img src="../static/img/Image.png" alt="">
        </div>
    </div>
</body>
</html>