{{ define "guest_sidebar" }}
<div class="sidebar">
    <label>navigator</label>
    <div id="select_1" class="menu-select active" onclick="recentPosts()">
        <i class="ri-time-line"></i>
        <h2>recent posts</h2>
    </div>

    <label>categories</label>
    <ul class="categories">
        <li><a href="#"><i class="ri-hashtag"></i>Golang</a></li>
        <li><a href="#"><i class="ri-hashtag"></i>Javascript</a></li>
        <li><a href="#"><i class="ri-hashtag"></i>Design</a></li>
        <li><a href="#"><i class="ri-hashtag"></i>Rust</a></li>
    </ul>
</div>
{{end}}