{{ define "logged_navbar" }}
<nav class="navbar">
    <a id="logo" href="/">
        <img id="logo-img" src="/assets/img/logo.svg" alt="">
        <span id="logo-name"><b>01</b>Forum</span>
    </a>
    <div class="sign">
        <a href="/createpost" id="create"><i class="fa-solid fa-plus"></i>create post</a>

        <form action="/auth/logout" method="POST">
            <div class="sign">
                <button id="logout" type="submit"><i class="fa-solid fa-power-off"></i>logout</button>
            </div>
        </form>
    </div>
</nav>
{{end}}